/.gitattributes     export-ignore
/tests              export-ignore
/composer.phar      export-ignore
/docker-compose.yml export-ignore
/Dockerfile         export-ignore
/Makefile           export-ignore
/phpunit.xml        export-ignore
